
module.exports = {
  database: '',
  user: '',
  passwd: '',
  option: {
    host: '',
    port: 3306,
    dialect: 'mysql',
    dialectOptions: {
      charset: 'utf8mb4'
    },
    pool: {
      max: 2,
      min: 0,
      idel: 10000
    },
    timezone: '+08:00'
  }
};